$branco : #fff;
$gelo:#FFFFFFB3;
$cinza-claro:#F3F3F3;
$cinza-escuro: #0000004D;
$azul-claro:#11A0DD;
$azul-escuro:#272749;
$laranja:#E6830D;
$verde:#36A065;
$verde-escuro:#276A44;
$verde-agua:#007491;
