.topo-blog {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    .blog-filtro {
        &-wrapper {
            width: 100%;
            margin-bottom: 5em;
        }

        &-formulario {
            display: flex;
            align-items: center;
            margin: 0;
            justify-content: center;

            .input-wrapper {
                @include neo-shadow-inset;
                border-radius: 1.2em;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                max-width: 674px;
                padding: 1.5em;
            }

            &-input {
                color: $azul-escuro;
                font-size: $pequena;
                background: transparent;
                line-height: 1.5em;
                width: 100%;
                margin-right: 1em;
                background: none;

                &::placeholder {
                    color: $azul-escuro;
                    font-size: $pequena;
                }
            }

            input[type="submit"] {
                display: none;
            }

            &-label {
                color: $azul-escuro;
                font-size: $pequena;
                line-height: 1.5em;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    margin-right: 0.4em;
                }
            }
        }

    }
}

.filtro-categorias{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 2em;

    a{
        font-weight: normal;
        margin: 1em;
        &.active{
            font-weight: bold;
        }
    }
}

.call-to-newsletter {
    background-color: $verde-agua;
    padding: 6em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin-bottom: 2em;

        .descricao {
            color: $branco;
            font-size: $regular;
            font-weight: bold;
            max-width: 14em;
            padding: 0em 1em;
            margin-bottom: 1em;
        }

        .form-newsletter {
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            margin: 0;

            input:not([type="submit"]) {
                color: $branco;
                font-size: $pequena;
                background: transparent;
                @include neo-shadow-inset-azul;
                border-radius: 1.2em;
                line-height: 1.5em;
                padding: 1.5em;
                max-width: 22.5em;
                width: 22em;
                margin-bottom: 1em;

                &::placeholder {
                    color: $branco;
                    font-size: $pequena;
                }
            }

            input[type="submit"] {
                background: none;
                padding: 1.2em;
                color: $branco;
                font-size: $regular;
                font-weight: bold;
            }
        }

    }
}


.paginacao {
    margin-top: 7em;

    ul {
        display: grid;
        gap: 1em;
        grid-template-columns: repeat(auto-fit, minmax(80px, auto));
        padding: 0px;
        width: 100%;
        justify-content: center;
        align-items: center;

        li {
            display: flex;
            justify-content: center;

            &:first-of-type() a,
            &:last-of-type() a {
                background-color: $cinza-claro;
            }
        }

        a {
            color: $azul-escuro;
            background: $cinza;
            font-size: $regular;
            font-weight: bold;
            padding: 1rem 1.1em;
            border-radius: 50%;
            margin-right: 0.3em;
        }
    }
}


@media(min-width:800px) {
    .call-to-newsletter-wrapper .descricao {
        margin: 0;
    }

    .call-to-newsletter-wrapper .form-newsletter input:not([type=submit]) {
        margin-right: 1em;
        margin-bottom: 0;
    }
}

@media(max-width:768px) {
    .filtro-categorias{
        justify-content: flex-start;
        margin-bottom: 0em;
       
    }
    .paginacao ul {
        gap: 0px;
    }
}

@media(max-width:480px) {
   
    

    .paginacao {
        ul {
            grid-template-columns: repeat(auto-fit, minmax(55px, auto));

            li {

                &:first-child(),
                &:last-child() {
                    grid-column-start: span 4;
                }

                &:not(:first-child()) {
                    grid-row-start: 2;
                }

                &:last-child() {
                    grid-row-start: 3;
                }


            }
        }

    }

}